.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.white {
  background-color: white;
}

.matrix {
  display: none;
}

.get-feedback {
  display: none;
}

.display-feedback {
  display: none;
}
